{% extends 'user/base.html' %}
{% load filename %}


{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">PEP8</h1>
    </div>

    <div class="container">
        <table class="table table-hover border-dark"> {# table-success #}
            <thead>
            <tr>
                <td>Дата загрузки</td>
                <td>Название файла</td>
                <td>Статус</td>
                <td>Дата изменения</td>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                
                <tr>
                    {% if user == object.user %}
                    <td>{{ object.downloads_date }}</td>
                    <td>{{ object.file.name|filename }}</td>
                    <td>{{ object.status }}</td>
                    <td>{{ object.update_date }}</td>
                    
                    <td><a class="text-black" href="{% url 'file:file_update' object.pk %}">Обновить</a></td>

                    <td><a class="text-black" href="{% url 'file:file_delete' object.pk %}">Удалить</a></td>
                {% endif %}
                </tr>

                </div>

            {% endfor %}

    </tbody>
    </table>

    <td><a class="p-2 btn btn-dark" href="{% url 'file:file_create' %}">Добавить файл</a>

    <script src="/static/js/bootstrap.bundle.js"></script>


{% endblock %}
